body {
  color: white;
  background-color: black;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.safety {
    color:red;
}

.info {
    color:aqua;
}

.localinfo {
    color:aqua;
}

.covid {
    color:aqua;
}
