body {
  color: white;
  background-color: black;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.safety {
  color: red;
}

.info {
  color: aqua;
  font-size: 25px;
}

.localinfo {
  color: aqua;
  font-size: 25px;
}

.covid {
  color: aqua;
  font-size: 25px;
}
.covidinfo {
  color: red;
}
