{% extends "index.html" %}
{% block title %}
    <title>About COVID-19</title>
{% endblock %}
{% block content %}
    <h1>About COVID-19</h1>
    <p>COVID-19 (Corona Virus Disease 2019) is a pandemic disease that originated from Wuhan, China. It spread throughout
        the world in early 2020. It was first discovered in November of 2019. <br>
        This disease is fatal as it blocks your lungs from absorbing oxygen, causing shortness of breath.</p>
    <img src=https://tse4.mm.bing.net/th?id=OIP.5rFmys4O6Q6NWbfm-8r5dAHaFA&pid=Api&P=0&w=237&h=161 width="400" height="300"
        alt="Coronavirus">
    <div>
        <h1>Ways to Stay Safe:</h1>
        <p>- Wear a mask at all times.
            <br> - Stay socially distanced from others.<br>
            - Wash your hands after every time you go out, for at least 20 seconds.<br>
            - Minimize attending or hosting events with a lot of people (4 or more).
        </p>
    
    </div>
    <h2>For more information: visit <a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">Official CDC website</a>
    </h2>
{% endblock %}



        



