<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About COVID-19</title>
    <h1>About COVID-19</h1>
        <p>COVID-19 (Corona Virus Disease 2019) is a pandemic disease that spread throughout the world in early 2020. It was first discovered in November of 2019.</p>
        <img src=https://tse4.mm.bing.net/th?id=OIP.5rFmys4O6Q6NWbfm-8r5dAHaFA&pid=Api&P=0&w=237&h=161 width = "400" height = "300" alt="Coronavirus">
        <div>
            <h1>Ways to Stay Safe:</h1>
            <p>- Wear a mask at all times.
                <br> - Stay socially distanced from others.<br> 
                - Wash your hands after every time you go out, for at least 20 seconds.</p>
        </div>
</head>
<body>
    
</body>
</html>



        



