{% extends "index.html" %}
{% block title %}
    <title>Search COVID-19 Info</title>
{% endblock %}
{% block content %}
    <form action="#" method="POST">
        <select name="state" class="states" id="stateId">
            <option value="">Select State</option>
        </select>
        <select name="country" class="countries" id="countryId" required>
            <option value="">Select Country</option>
        </select><br>
        <input type="submit" name="submit">

        {% if apiConnection %}
            {% if countrySearch %}
                <h1>Country COVID-19 Information for {{ countryCovidInformation['Country'] }}</h1>
                <p>New Confirmed Cases: {{ countryCovidInformation['NewConfirmed'] }}</p>
                <p>Total Confirmed Cases: {{ countryCovidInformation['TotalConfirmed'] }}</p>
                <p>New Deaths: {{ countryCovidInformation['NewDeaths'] }}</p>
                <p>Total Deaths: {{ countryCovidInformation['TotalDeaths'] }}</p>
                <p>New Recovered: {{ countryCovidInformation['NewRecovered'] }}</p>
                <p>Total Recovered: {{ countryCovidInformation['TotalRecovered'] }}</p>
                <p>Accurate as of: {{ countryCovidInformation['Date'] }}</p>
            {% endif %}
            {% if stateSearch %}
                <h1>State COVID-19 Information for {{ stateCovidInformation['Province'] }}</h1>
                <p>Total Confirmed Cases: {{ stateCovidInformation['Confirmed'] }}</p>
                <p>Total Deaths: {{ stateCovidInformation['Deaths'] }}</p>
                <p>Total Recovered: {{ stateCovidInformation['Recovered'] }}</p>
                <p>Accurate as of: {{ stateCovidInformation['Date'] }}</p>
            {% endif %}
        {% endif %}
        {% if apiConnectionFailed %}
            <p>Country Doesn't Exist in API!</p>
        {% endif %}
    </form>
{% endblock %}